.quizcontainer{
    width: 95%;
    max-width:500px;
    margin: 10px auto;
    border-radius: 5px;
    
}
.quizdiv{
    margin-bottom: 10px;
    background: #eee;
    padding: 10px;
    border-radius: 10px;
}
.quizdiv li{
    list-style: none;
}